body {
    background-color: azure;
}
.infobox {
    background-color: aquamarine;
    border-radius: 10px;
    padding: 10px;
    display: inline-block;
}
#header {
    background-color: rgb(153, 185, 255);
    border-radius: 10px;
    padding: 10px 0px;
    text-align: center;
/*    display: inline-block;*/
    
}
#header-banner {
    background-color: rgb(126, 103, 255);
}
#latest {
    float: right;
}
a {
    color: black;
    text-decoration: none;
}
#motd {
    color: rgb(31, 31, 31);
    padding: 3px;
    outline-style: auto;
    outline-color: rgb(27, 27, 27);
}
#postform {
    text-align: center;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
#op {
    margin: 0% 25% 0% 25%;
    background-color: rgb(127, 127, 225);
    border-radius: 10px;
    padding: 10px;
    display: inline-block;
    color: black;
    width: 50%;
}
#banner {
    background-color: rgb(179, 179, 233);
    padding: 3px;
}
#report {
    float: right;
    color: black;
    background-color: white;
    padding: 0px;
}