body {
    background-color: azure;
}
.infobox {
    background-color: aquamarine;
    border-radius: 10px;
    padding: 10px;
    display: inline-block;
}
#header {
    margin: 0px 0px 10px 0px;
    background-color: rgb(153, 185, 255);
    border-radius: 10px;
    padding: 10px 0px;
    text-align: center;
/*    display: inline-block;*/
    
}
#header-banner {
    background-color: rgb(126, 103, 255);
}
#latest {
    float: right;
    max-width: 500px;
    word-break: break-all;
    max-height: 500px;
    overflow: hidden;
}
a {
    color: black;
    text-decoration: none;
}
#motd {
    color: rgb(31, 31, 31);
    padding: 3px;
    outline-style: auto;
    outline-color: rgb(27, 27, 27);
}
#postform {
    /*text-align: center;*/
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
#op {
    margin: 0% 25% 10px 25%;
    background-color: rgb(127, 127, 225);
    border-radius: 10px;
    padding: 10px;
    display: inline-block;
    color: black;
    width: 50%;
    word-break: break-all;
}
#banner {
    background-color: rgb(158, 159, 250);
    padding: 3px;
}
#report {
    float: right;
    color: black;
    background-color: white;
    padding: 0px;
}
#post {
    margin: 0px 0px 10px 0px;
    float: right;
    background-color: rgb(168, 168, 255);
    border-radius: 10px;
    padding: 10px;
    color: black;
    width: 50%;
    word-break: break-all;
}
.center {
    text-align: center;
}
.tableEntry {
    padding: 5px;
    border-radius: 3px;
    background-color: rgb(0, 206, 206);
}
#catalog {
    margin:  0 auto;
    display: inline-block;
    padding: auto;
}
#main-container {
    justify-content: space-between;
    display: flex;
}
#boards {
    float: left;
}
#banner br {
    display: none;
}
#boardcatalog {
    width: 99%;
    border-radius: 15px;
    background-color: rgba(0, 255, 255, 0.65);
    padding: 5px;
}
.catalogbox {
    margin: 3px 0px 3px 0px;
    background-color: rgba(0, 255, 255, 0.623);
    overflow: hidden;
}
#boardcatalog table {
    width: 100%;
}